{* This is the welcome page, you can delete it *}

{block content}
<div class="border border-gray-200 overflow-hidden rounded-md bg-white my-5">
    <ul role="list" class="divide-y divide-gray-200 p-4">
        <li class="">
            <h2>{$feature->title}</h2>
            <p>{$feature->content}</p>
        </li>
    </ul>
</div>


